{% extends "registerandloginbase.html" %}
{% load i18n %}
{% block title %}Abhijeet's Gallery-Forgot Password{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/mmedia/css/registerandlogin.css" />
<div id="login-box">
<H2 style="margin:10px 80px 0px;">Forgot Passowrd</H2>
<br />
<form method="post" action=".">
{% csrf_token %}
  {{ form.as_p }}

<br/><br/>
  <input class="button" type="image" src="/mmedia/images/go.png" width="103" height="42" style="margin-left:90px;" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>
<br />
<span class="login-box-options"><a href="{% url auth_login %}" style="margin-right=:140px; ">{% trans "Login" %}</a></span>
<br/>
<span class="login-box-options"><a href="{% url registration_register %}" style="margin-right:140px;">{% trans "Register" %}</a></span>
<br/>
</div>
{% endblock %}
